* {
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    background: linear-gradient(to bottom, rgba(156,236,251,1), rgba(101,199,247,1), rgba(0,82,212,1));
    background-repeat: no-repeat;
    letter-spacing: 0.09em;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(236,227,104,1);
    border-radius: 0px 0px 10px 10px;
}

.nav_bar img {
    width: 70%;
    min-width: 5%;
    margin-left: 10px;
}

.nav_bar ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    margin: 10px;
    margin-right: 10px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: rgba(235, 81, 62, 1);
}

.nav_bar ul li a:hover {
    text-decoration: underline;
}

.header_text {
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.section_box {
    text-transform: uppercase;
    color: rgba(235, 81, 62, 1);
    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(255,255,255,.5);
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    width: 140px;
    height: 170px;
    min-width: 130px;
    
}

.section_box img {
    width: 50%;
    margin-top: 15px;
}

.section_links {
    grid-column: 1/5;
    grid-row: 2/5;
    display: flex;
    flex-wrap: wrap;
}

.header_section {
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 130px 130px ;
}

.header_photo {
    grid-column: 5/11;
    grid-row: 1/11;
    margin-top: 40px;
    margin-right: 30px;
    z-index: -1;
    
}

.header_photo img {
    width: 100%;
}

.header_text {
    grid-column: 1/7;
    grid-row: 1/2;
    margin-left: 30px;
}

.white_bar {
    width: 100%;
    background-color: rgba(255,255,255,.5);
    height: 20px;
    grid-column: 1/11;
    grid-row: 2/2;
    z-index: -2;
    margin-top: -30px;
}

.section_title h3 {
    background-color: rgba(236,227,104,1);
    color: rgba(235, 81, 62, 1);
    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 10px;
}

.what_is_nasa {
    margin-top: 100px !important;
    font-family: forma-djr-display, sans-serif;
    width: 90%;
    margin: 0 auto;
    display: grid;
}

.nasa_info_box h3 {
    color: rgba(18,69,140,1);
    font-size: 1.5rem;
}

.nasa_info_box {
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 40%;
}

.nasa_info_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timeline_box {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(4,25%);
    background-color: rgba(18,69,140,1);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
}

.timeline_photo img {
    width: 80%;
    border-radius: 20px;
}

.timeline_photo {
    grid-column: 1/4;
    grid-row: 1;
    margin: 0 auto;
}

.timeline_info_text {
    grid-column: 3/6;
    grid-row: 1;
    margin: 50px;
    font-family: forma-djr-display, sans-serif;
    color: white;
}

.timeline_info_text h3 {
    text-transform: uppercase;
}

#accordion_button {
    padding: 10px;
    background-color: white;
    color: rgba(18,69,140,1);
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    width: 80px;
    height: 80px;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
   }

   .moon_landing {
       width: 80%;
       font-family: forma-djr-display, sans-serif;
       margin-top: 100px;
   }

   .moon_landing h2 {
       text-transform: uppercase;
       color: rgba(255,255,255,1);
   }

   .moon_landing_info {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(4,25%);
    background-color: rgba(18,69,140,1);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
    font-family: forma-djr-display, sans-serif;
   }

   .moon_landing_photo img {
       width: 100%;
   }

   .moon_landing_photo {
       grid-column: 1/3;
       margin: 30px;
   }

   .moon_landing_text {
       grid-column: 3/6;
       margin: 30px;
       color: white;
   }

   .moon_landing_text h3 {
    text-transform: uppercase;
   }

   .quote {
       background-color: white;
       padding: 5px 10px;
       color: rgba(18,69,140,1);
       font-weight: 700;
       text-transform: uppercase;
   }

   .fun_facts {
       grid-template-columns: repeat(4,25%);
       grid-template-rows: repeat(4,25%);
       display: grid;
       width: 90%;
       margin: 0 auto;
       background-color: rgba(255,255,255,.5);
       border-radius: 20px;
       margin-top: 100px;
       font-family: djr-forma-display, sans-serif;
   }

   .ff_banner img {
       width: 100%;
       opacity: .9;
   }

   .ff_banner {
       grid-column: 1/5;
   }

   .centered_text {
       position: absolute;
       text-align: center;
       width: 90%;
       padding-top: 50px;
   }

   .centered_text h1 {
       text-transform: uppercase;
       font-size: 4rem; 
       color: rgba(255,255,255,1);
       -webkit-text-stroke-width: 1px;
       -webkit-text-stroke-color: rgba(235, 81, 62, 1);
   }

   .centered_text h3 {
       background-color: rgba(236,227,104,1);
       color: rgba(235, 81, 62, 1);
       font-family: forma-djr-display, sans-serif;
       font-weight: 700;
       font-style: normal;
       text-transform: uppercase;
       padding: 5px 10px;
       width: 70%;
       font-size: 1rem;
       margin: 0 auto;
   }

   .ff_wrapper {
       display: flex;
       flex-wrap: wrap;
       margin-top: 10px;
       width: 70%;
       grid-column: 1/5;
       margin: 0 auto;
       padding-bottom: 20px;
   }

   .ff_box {
       padding: 5px;
       width: 250px;
       height: 250px;
       min-width: 200px;
       margin: 10px auto;
       border-radius: 20px;
       margin-top: 30px;
   }

   .ff_number {
       color: white;
       font-size: 4rem;
       font-weight: 700;
       text-align: center;

   }

   #ff1 {
       background-color: rgba(0,82,212,1);
   }

   #ff2 {
       background-color: rgba(235, 81, 62, 1);
   }

   #ff3 {
       background-color: rgba(236,227,104,1);
   }

   #ff4 {
       background-color: rgba(144,225,233,1);
   }

   #ff5 {
       background-color: rgba(149,184,106,1);
   }

   #ff6 {
       background-color: rgba(78,179,153,1);
   }

   #ff7 {
       background-color: rgba(226,155,99,1);
   }

   #ff8 {
       background-color: rgba(230,181,64,1);
   }

   .ff_fact {
       color: white;
       width: 80%;
       margin: 0 auto;
       margin-top: 10%;
   }

   .in_space {
    margin-top: 100px !important;
    font-family: forma-djr-display, sans-serif;
    width: 90%;
    margin: 0 auto;
   }

   .card_wrapper {
       display: flex;
       flex-wrap: wrap;
   }

   .card {
       background-color: rgba(255,255,255,.5);
       border-radius: 20px;
       margin: 10px;
       padding: 20px;
       width: 400px;
   }

   .card img {
       width: 100%;
   }

   .image_box {
       width: 50%;
       float: left;
   }

   .card h4 {
       background-color: rgba(18,69,140,1);
       padding: 2px;
       color: white;
       text-transform: uppercase;
   }

   .info_box {
       float: right;
       width: 50%;
       padding: 10px;
   }

   .people_space h3 {
       background-color: rgba(18,69,140,1);
       color: white;
       width: 60%;
   }

   .timeline_content {
       grid-column: 1/6;
   }

   .timeline_content {
    width: 500px;
    min-width: 300px;
    margin: auto;
    margin-top: 60px;
  }
  
  .timeline_content p {
    border-top: 2px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    margin: 0; 
    padding: 30px;
    font-family: forma-djr-display, sans-serif;
    color: white;
    font-size: 1.3rem;
  }

  .timeline_highlight {
      color: #d53a9d;
  }

  .timeline_content p:nth-child(even) {
    border-left: 2px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
  }
  
  .timeline_content p:nth-child(odd) {
    border-right: 2px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
  }
  
  .timeline_content p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  .timeline_content p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

  .footer {
      width: 100%;
      background-color: rgba(18,69,140,1);
      border-radius: 20px 20px 0px 0px;
      padding: 30px;
      margin-top: 100px;

  }

  .social_links ul {
      list-style: none;
      display: flex;
  }

  .social_links a {
      margin: 10px;
  }

  .social_links {
      width: 25%;
      margin: 0 auto;
  }

  /* contact form */

  .contact_header h1 {
      text-transform: uppercase;
      color: white;
      font-size: 2.5rem;
      margin: 20px;
      margin-top: 40px;
  }

  .contact_header {
      font-family: forma-djr-display, sans-serif;
  }

  .kidscorner_wrapper {
      font-family: forma-djr-display,sans-serif;
      display: grid;
      grid-template-columns: repeat(10,10%);
      grid-template-rows: repeat(15,100px);
      margin: 20px;
  }

  .kidscorner_title h1 {
      text-transform: uppercase;
      color: white;
      font-size: 2.6rem;
  }

  .kidscorner_title {
      grid-column: 1/8;
  }

  .kidscorner_info {
      background-color: rgba(255,255,255,.5);
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      grid-column: 1/6;
      grid-row: 2/5;
  }

  .kidscorner_info h3 {
      background-color: rgba(18,69,140,1);
      padding: 8px;
      width: 70%;
      color: white;
      text-transform: uppercase;
  }

  .kids_photo {
      grid-column: 7/11;
  }

  .kids_photo img {
      width: 80%;
  }



